@import "./global/global.css";
@import "./util/cores.css";
@import "./util/tipografia.css";
@import "./util/componentes.css";
@import "./util/formulario.css";

/*Header e Footer */

@import "./global/header.css";
@import "./global/footer.css";

/*Home*/

@import "./home/introducao.css";
@import "./home/skills.css";
@import "./home/sobre.css";
@import "./home/work.css";
@import "./home/estudos.css";
@import "./home/portfolio.css";
