.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: inline-flex;
  align-items: center;
  gap: 0px;
  padding: 16px 28px;
  border: 1px solid var(--cor-10);
  border-radius: 50px;
  background-color: transparent;
  color: var(--cor-10);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  font:
    500 1.125rem/1.35 "Satoshi",
    sans-serif;
  max-width: max-content;
  cursor: pointer;
  transition: all 0.3s ease;
}

.botao:hover {
  background: var(--cor-10);
  border: 1px solid var(--cor-10);
  color: var(--cor-4);
}

.botao-escuro {
  display: inline-flex;
  align-items: center;
  gap: 0px;
  padding: 16px 28px;
  border: 1px solid var(--cor-10);
  border-radius: 50px;
  background-color: var(--cor-10);
  color: var(--cor-4);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  font:
    500 1.125rem/1.35 "Satoshi",
    sans-serif;
  max-width: max-content;
  cursor: pointer;
  transition: all 0.3s ease;
}

.botao-escuro::after {
  content: "→";
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-width 0.3s ease,
    opacity 0.3s ease,
    margin 0.3s ease;
}

.botao-escuro:hover::after {
  max-width: 30px;
  opacity: 1;
  margin-left: 8px;
}

.botao-escuro:hover {
  background-color: transparent;
  color: var(--cor-10);
}

.botao-form {
  display: inline-block;
  padding: 10px 50px;
  border: 1px solid var(--cor-10);
  border-radius: 50px;
  background-color: transparent;
  color: var(--cor-10);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  font:
    500 1.125rem/1.35 "Satoshi",
    sans-serif;
  max-width: max-content;
  cursor: pointer;
  transition: all 0.3s ease;
}

.botao-form:hover {
  background: var(--cor-10);
  border: 1px solid var(--cor-10);
  color: var(--cor-4);
}
