.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.form label {
  display: block;
  font:
    600 1rem/1.5 "Satoshi",
    sans-serif;
  margin-bottom: 4px;
}

.form .col-2 {
  grid-column: span 2;
}

.form input[type="text"],
.form input[type="email"],
.form textarea,
.form select {
  font:
    400 1rem/1.5 "Roboto",
    sans-serif;
  background: var(--cor-2);
  border: 1px solid var(--cor-2);
  padding: 12px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus,
.form select:focus {
  outline: none;
  border-color: var(--cor-6);
  background: var(--cor-0);
  box-shadow: 0 0 0 2px var(--cor-2);
}

@media (max-width: 800px) {
  .contato-formulario {
    grid-template-columns: 1fr;
    padding-top: 10px;
  }
  .form {
    grid-template-columns: 1fr;
  }
  .form .col-2 {
    grid-column: 1;
  }
}
