.font-1-xs {
  font:
    700 0.75rem/1.35 "Satoshi",
    sans-serif;
}

.font-2-xs {
  font:
    400 0.875rem/1.43 "Roboto",
    sans-serif;
}

.font-1-sm {
  font:
    700 0.875/1.7 "Satoshi",
    sans-serif;
}

.font-2-ss {
  font:
    400 0.875/1.85h "Roboto",
    sans-serif;
}

.font-1-s {
  font:
    500 1rem/1.5 "Satoshi",
    sans-serif;
}

.font-2-s {
  font:
    400 1rem/1.5 "Roboto",
    sans-serif;
}

.font-1-m-b {
  font:
    700 1.125rem/1.35 "Satoshi",
    sans-serif;
}

.font-1-m {
  font:
    400 1.125rem/1.35 "Satoshi",
    sans-serif;
}

.font-1-m-medium {
  font:
    500 1.125rem/1.35 "Satoshi",
    sans-serif;
}

.font-1-m-bold {
  font:
    700 1.125rem/1.35 "Satoshi",
    sans-serif;
}

.font-1-m-black {
  font:
    900 1.125rem/1.35 "Satoshi",
    sans-serif;
}

.font-2-m {
  font:
    500 1.125rem/1.35 "Roboto",
    sans-serif;
}

.font-1-lm {
  font:
    700 1.5rem/1.35 "Satoshi",
    sans-serif;
}

.font-2-l-b {
  font:
    500 1.5rem/1.5 "Roboto",
    sans-serif;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.font-1-l {
  font:
    500 1.5rem/1.5 "Satoshi",
    sans-serif;
}

.font-2-l {
  font:
    400 1.5rem/1.5 "Roboto",
    sans-serif;
}

.font-1-xl {
  font:
    700 2rem/1.25 "Satoshi",
    "Poppins" sans-serif;
}

.font-1-xxl {
  font:
    900 3.5rem/1.3 "Satoshi",
    "Poppins" sans-serif;
}

@media (max-width: 1200px) {
  .font-1-xxl {
    font-size: 3rem;
  }
  .font-2-l,
  .font-2-l-b {
    font-size: 1.25rem;
  }
}

@media (max-width: 800px) {
  .font-1-xxl {
    font-size: 2rem;
  }

  .font-1-xl {
    font-size: 1.5rem;
  }
}
