.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer h2,
.footer p {
  margin-bottom: 40px;
}
.info-conteudo p {
  max-width: 420px;
}

.info-contato {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.info-contato h3 {
  margin-bottom: 18px;
}

.info-contato li {
  margin-bottom: 20px;
}

.info-contato li > a {
  display: inline-block;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.info-contato ul {
  margin-bottom: 36px;
}

.info-contato li > a:hover {
  transform: translateY(-2px);
  color: var(--cor-10);
}

.email {
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.email:hover {
  color: var(--cor-6);
}

.direitos {
  grid-column: 1;
  margin-top: -60px;
}

@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr;
    padding-top: 20px;
    gap: 20px;
  }
  .direitos {
    margin-top: 20px;
    font-size: 1rem;
  }
}
