.header-bg {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: var(--cor-0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.logo {
  transition: 0.3s;
}

.logo:hover {
  transform: scale(1.2) rotate(2deg);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu a {
  position: relative;
  display: inline-block;
  padding: 16px 0px;
}

.header-menu a::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  border-radius: 10px;
  background: var(--cor-8);
  margin-top: 4px;
  transition: 0.3s ease-in-out;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}

.header-menu li:last-child {
  display: flex;
  align-items: center;
}

/*SideBar Mobile*/

.icon-menu-open,
.icon-menu-close {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 30px;
}

.icon-menu-open div,
.icon-menu-close div {
  height: 4px;
  background-color: var(--cor-7);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.icon-menu-close {
  position: relative;
  height: 30px;
}

.icon-menu-close .line-1 {
  transform: rotate(45deg) translate(5px, 8px);
}

.icon-menu-close .line-2 {
  opacity: 0;
}

.icon-menu-close .line-3 {
  transform: rotate(-45deg) translate(5px, -8px);
}

.sideBar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 200px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(40px);
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 30px;
  justify-content: flex-start;
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
  transition: all 0.3s ease;
}

.sideBar.active {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

@media (max-width: 800px) {
  .header {
    padding: 20px;
  }
  .hideMobile {
    display: none;
  }
}

@media (min-width: 801px) {
  .hideDesktop {
    display: none;
  }
}
