.estudos {
  padding-top: 120px;
  padding-bottom: 120px;
}

.estudos h2 {
  margin-bottom: 60px;
}

.estudos dl > div {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  background-color: var(--cor-0);
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.estudos dl > div:hover {
  transform: scale(1) translateY(-4px);
}

.estudos dl > div:nth-child(odd) {
  background-color: var(--cor-2);
}

.estudos button {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

.estudos button::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-7);
}

.estudos button::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 14px;
  background: url("../../img/icones/seta.svg");
  transition: transform 0.3s ease-in-out;
}

.estudos button:hover::after,
.estudos button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

.estudos dd {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding-left: 20px;
  max-width: 100ch;
  transition:
    max-height 0.4s ease,
    opacity 0.6s ease;
}

.estudos dd > * {
  overflow: hidden;
}

.estudos dd.ativa {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
}

.estudos a {
  transition: color 0.3s;
}

.estudos a:hover {
  color: var(--cor-6);
}

@media (max-width: 800px) {
  .estudos {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .estudos h2 {
    margin-bottom: 40px;
  }
}
