.portfolio-bg {
  padding-top: 60px;
}

.portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px;
  padding-bottom: 80px;
  gap: 40px;
}

.portfolio-container h2 {
  margin-bottom: 32px;
}

.card-left {
  display: grid;
  grid-template-rows: auto auto;
}

.card-cima {
  background-color: var(--card-cima-bg);
  padding: 40px;
  border-radius: 20px 20px 0px 0px;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card-cima:hover {
  background: linear-gradient(
    to left,
    rgba(48, 233, 88, 0.8),
    rgba(27, 131, 49, 1)
  );
}
.card-left:nth-child(4) .card-cima:hover {
  background: linear-gradient(
    to right,
    rgba(43, 247, 106, 0.6),
    rgba(22, 150, 102, 0.9)
  );
}
.card-left:nth-child(5) .card-cima:hover {
  background: linear-gradient(
    to left,
    rgba(177, 101, 251, 0.8),
    rgba(72, 10, 158, 1)
  );
}
.card-left:nth-child(6) .card-cima:hover {
  background: linear-gradient(
    to left,
    rgba(108, 110, 249, 0.8),
    rgba(56, 59, 255, 1)
  );
}

.card-cima p {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  cursor: pointer;
}

.card-cima p::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../../img/icones/portfolio/arrow.svg") no-repeat;
  transition: transform 0.3s ease-in-out;
}

.card-cima a:hover p::after {
  transform: translate(3px, -3px);
  transition: transform 0.2s ease-in-out;
}

.card-cima a {
  display: block;
  transition: transform 0.3s ease-in-out;
}

.card-cima a:hover {
  transform: translateY(-2px);
}

.card-left .card-cima p {
  transition: color 0.3s ease-in-out;
}

.card-cima:hover p {
  color: var(--cor-0);
}

.card-baixo {
  background-color: var(--cor-3);
  padding: 36px;
  border-radius: 0px 0px 20px 20px;
  align-items: flex-start;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}

.card-baixo p {
  font-weight: 400;
}

/*-----------------*/

.card-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  transition: 0.3s ease;
}

.card-right:hover {
  transform: translateY(-2px);
}

.colors {
  background-color: var(--cor-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px;
  border-radius: 20px 0px 0px 20px;
}

.colors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colors-image {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.tipografia {
  background: var(--cor-2);
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 8px;
  border-radius: 0px 20px 20px 0px;
}

.tipografia p {
  color: var(--cor-11);
}

.fonte-principal {
  font-family: "Poppins", sans-serif; /* sua fonte principal */
  font-size: 2rem;
  font-weight: 700;
  color: var(--cor-10);
}

.fonte-secundaria {
  font-family: "Roboto", sans-serif; /* sua fonte secundária */
  font-size: 2rem;
  font-weight: 400;
  color: var(--cor-10);
}

.fonte-nome {
  font-size: 0.75rem;
  color: var(--cor-9);
  margin-top: -8px;
}

@media (max-width: 800px) {
  .portfolio-container {
    grid-template-columns: 1fr;
    padding-bottom: 0px;
  }
  .portfolio-container h2 {
    padding-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .card-baixo {
    padding: 20px;
  }
  .card-baixo p {
    font-size: 0.9rem;
  }
}
