.carousel {
  width: 100%;
  display: flex;
  overflow-x: hidden;
  position: relative;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
  z-index: 0;
  padding-bottom: 150px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 12s infinite linear;
  padding-right: 1em;
}

.card {
  flex: 0 0 6em;
  height: 40px;
  padding: 30px 25px;
  position: relative;
  pointer-events: none;
}

.card::after {
  content: attr(data-name);
  font-family: "Satoshi";
  font-weight: 600;
  position: absolute;
  bottom: 0px;
  left: 50%;
  translate: -50% 0;
  background: #2e2e2e;
  color: #b2b2b2;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 1rem;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.card:hover::after {
  opacity: 1;
}

.card img {
  pointer-events: all;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transition:
    transform 0.3s ease,
    filter 0.3s ease,
    opacity 0.3s ease;
  will-change: opacity, transform;
}

.bw {
  opacity: 1;
}

.color {
  opacity: 0;
}

.card:hover .bw {
  opacity: 0;
}

.card:hover .color {
  opacity: 1;
}

.card:hover img {
  transform: translateY(-8px) scale(1.15);
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

@media (max-width: 800px) {
  .carousel {
    padding-bottom: 100px;
  }
  .card {
    padding: 20px 3px;
  }

  .card img {
    width: 50px;
  }

  .card::after {
    font-size: 0.7rem;
  }
}
