.carousel {
  width: auto;
  display: flex;
  overflow-x: hidden;
  position: relative;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
  z-index: 0;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  animation: spin 15s infinite linear;
  padding-right: 1em;
  will-change: transform;
}

.card {
  flex: 0 0 6em;
  height: 40px;
  padding: 40px 25px;
  position: relative;
  pointer-events: none;
}

.card img {
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bw {
  opacity: 1;
}
.color {
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  .card {
    pointer-events: all;
  }

  .card img {
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
  }

  .card::after {
    content: attr(data-name);
    font-family: "Satoshi";
    font-weight: 600;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--cor-10);
    color: var(--cor-0);
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 1rem;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
  }

  .card:hover::after {
    opacity: 1;
  }
  .card:hover .bw {
    opacity: 0;
  }
  .card:hover .color {
    opacity: 1;
  }

  .card:hover img {
    transform: translate(-50%, calc(-50% - 8px)) scale(1.15);
  }
}

@media (max-width: 800px) {
  .carousel {
    padding-top: 20px;
  }
  .card {
    flex: 0 0 4em;
    padding: 20px 20px;
  }
  .card img {
    width: 70px;
  }
  .bw {
    display: none;
  }
  .color {
    opacity: 1;
  }
}

/* Ajuste na animação para usar transform (padrão Safari) */
@keyframes spin {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
